# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.iobj

*.ipdb

*.pdb

*.lastbuildstate

*.tlog

*.ipch

\.vs/osh-sdk/v15/\.suo

*.db

*.log

*.db-wal

*.opendb

*.db-shm
